html, body {
    background-color: blueviolet;
    /* height: 99.8%; */
}
.container {
    /* width: 50%; */
    margin: auto;
    padding: 0;
    /* height: 100%; */
}
.container >div {
    /* width: 100%;  */
    font-size: 200%;
    text-align: center;
    color: aliceblue;
    text-shadow: 0 0 2px blueviolet  ;
}
.container > div:nth-child(1),.container > div:nth-child(5)  { 
    background-color: blue;

} 
.container > div:nth-child(2), .container > div:nth-child(6) { 
    background-color: yellowgreen;
}
.container > div:nth-child(3), .container > div:nth-child(4) { 
    background-color: lightgray;
}

.container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-auto-rows: 50px 50px;
    gap: 3px;
    grid-gap: 3px;
    /* row-gap: ;
    column-gap: ; */
   /* grid-template: 100px 100px / 100px auto 100px; */
    
    /* justify-content: space-evenly;
    align-content: space-around; */
    /* column-gap: ; */

} 
